body {
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(252, 174, 254);
}

input[type="text"],
button {
    padding: 5px;
    margin: 5px;
}

#todoList div {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(187, 161, 188);
}

a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

a:hover {
    font-weight: bold;
}

.completed {
    font-weight: bold;
    color: rgb(255, 0, 119);
}